
<header class="d-flex justify-content-center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img class="navbar-logo" src="{{ asset('img/Ada_Lovelace.webp') }}" alt="Logo">
            Ada Lovelace
        </a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {# La page d'accueil redirige automatiquement vers la page des articles
                Le lien est là juste pour faire bonne figure #}
                <li class="nav-item">
                    {% if currentPath in '/blog' %}
                        <a class="nav-link active" href="/">Accueil</a>
                    {% else %}
                        <a class="nav-link" href="/">Accueil</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if currentPath in '/article_index' %}
                        <a class="nav-link active" href="{{ path('article_index') }}">Articles</a>
                    {% else %}
                        <a class="nav-link" href="{{ path('article_index') }}">Articles</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                {% if currentPath in '/category_index' %}
                        <a class="nav-link active" href="{{ path('category_index') }}">Catégories</a>
                    {% else %}
                        <a class="nav-link" href="{{ path('category_index') }}">Catégories</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
</header>